.container {
    position: relative;
    background-color: orange;
    width: 75vw;
    height: 70vh;
    border: solid 3px black;
}
.red{
    position: relative;
    width: 15%;
    height: 80%;
    background-color: red;
    top: 4%;
    left: 5%;
    border: solid 3px black;  
}
.green{
    position: absolute;
    width: 15%;
    height: 80%;
    background-color: green;
    left: 25%;
    top: 4%;
    border: solid 3px black;
}
.blue{
    position: absolute;
    width: 15%;
    height: 80%;
    background-color: blue;
    left: 45%;
    top: 4%;
    border: solid 3px black;
}
.purple{
    position: absolute;
    width: 15%;
    height: 80%;
    background-color: purple;
    left: 65%;
    top: 4%;
    border: solid 3px black;

}

div p {
    font-size: 2em;
}

h1 {
    font-size: 4rem;
}
 img {
     width: 100pt;
 }